{% extends "layout.html" %}
{% block title %}
home
{% endblock title %}
{% block head %}
<style>
    #cont0{ 
        color: white;
    }
</style>
{% endblock head %}
{% block main %}
<!-- ShowCase of Index -->
<section class="main-bg ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-lg-8 col-md-9 center " style="z-index:
                4;">
                <h1 id="animation" class="fw-bolder mt-4 text-white display-1">Mountain
                    Bike<br> Raw Aluminium</h1>
                <p class="pe-5 text-white" style="font-size: 16px;">If you plan
                    to drive all year round and snow, & you 're looking at a
                    bike with fat tires that is extremely powerful, offer
                    execellent traction, and is affordable.</p>
                <a class="btn border rounded-1 mt-1 border-0 inner"
                    style="background-color: #fea03c; color:white; font-weight:
                    600;" href="/products">Shop Now</a>
            </div>
            <div class="col-md-6 mt-5">
            </div>
        </div>
    </div>
</section>

<!--Trending Products -->
<div class="container">
    <div class="row pt-5 pb-2">
        <h1 class="fw-bolder">Trending Products</h1>
    </div>
    <div class="row row-cols-md-2 row-cols-lg-4 mb-5 g-3">
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/Cycle19.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1600.00</h6>
                        <a href="/buy/1" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/cycle24.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1500.00</h6>
                        <a href="/buy/11" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/cycle16.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1630.00</h6>
                        <a href="/buy/3" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/cycle13.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1450.00</h6>
                        <a href="/buy/4" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/cycle13.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1300.00</h6>
                        <a href="/buy/5" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/cycle16.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1700.00</h6>
                        <a href="/buy/6" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/cycle17.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1560.00</h6>
                        <a href="/buy/7" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-2 shadow rounded-4 inner">
                <img class="card-img-top shadow rounded-4"
                    src="/static/images/Cycle19.jpg" alt="">
                <div class="card-body">
                    <div class="card-text text-center">
                        <h5>Tracking Bike</h5>
                        <h6>$1800.00</h6>
                        <a href="/buy/8" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<section class="testimonial">
    <div class="container">
        <h2 class=" display-5 fw-bold">Testimonials</h2>
        <div class="row row-cols-1 row-cols-lg-3 g-5 mb-3">
            <div class="col">
                <div class="card position-relative rounded-0 border-0 profile"
                    style="background-color: #efefef;">
                    <img src="/static/images/user5.jpeg" class="user
                        position-absolute rounded-circle" alt="">
                    <div class="card-body text-center">
                        <blockquote>"Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.
                            Ratione vel odio soluta exercitationem facere
                            tempore
                            vitae fugit accusantium laborum
                            placeat vero nobis omnis, dolor odit, voluptas
                            commodi.
                            Sunt, molestias nostrum!"
                        </blockquote>
                        <h3>Annie <span>Market Manager At Lwt</span></h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card position-relative rounded-0 border-0 profile"
                    style="background-color: #efefef;">
                    <img src="/static/images/user.jpg" class="user
                        position-absolute rounded-circle" alt="">
                    <div class="card-body text-center">
                        <blockquote>Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.
                            Ratione vel odio soluta exercitationem facere
                            tempore
                            vitae fugit accusantium laborum
                            placeat vero nobis omnis, dolor odit, voluptas
                            commodi.
                            Sunt, molestias nostrum!
                        </blockquote>
                        <h3>Muneeb <span>Market Manager At Lwt</span></h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card position-relative rounded-0 border-0 profile"
                    style="background-color: #efefef;">
                    <img src="/static/images/user4.jpeg" class="user
                        position-absolute rounded-circle" alt="">
                    <div class="card-body text-center">
                        <blockquote>Lorem, ipsum dolor sit amet consectetur
                            adipisicing elit.
                            Ratione vel odio soluta exercitationem facere
                            tempore
                            vitae fugit accusantium laborum
                            placeat vero nobis omnis, dolor odit, voluptas
                            commodi.
                            Sunt, molestias nostrum!
                        </blockquote>
                        <h3>julia <span>Market Manager At Lwt</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of testimonails -->
{% include "footer.html" %}
{% endblock main %}